body {
	color: #000000;
	background-color: #FFFFFF;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size: 76%;
	font-family: verdana, arial, helvetica, sans-serif;
}

/* for i.e */
table {font-size: 1em;}
table, tr, td, th {margin:0px 0px 0px 0px;}
th {background-color: #336699; color: #ffffff; }
th a:link {color: #ffffff; text-decoration: none; }
th a:visited {color: #ffffff; text-decoration: none; }
th a:hover {background-color: #336699; color: #000000;}

a { font-size: 1em; text-decoration:none; }
a:link {color: #0000cc;}
a:visited {color: #000099;}
a:hover {background-color: #ffffff; color: #000000;}


